:root {
  --primaryColor: #4951de;
  --myTransition: ease-out 0.3s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", sans-serif;
}

h2 {
  text-transform: capitalize;
}

.navbar {
  height: 3rem;
  border-bottom: 1px solid black;
  box-shadow: 2px 2px black;
  background-color: #ff4500;
}
.nav-head {
  display: flex;
  margin-left: 1rem;
  display: block;
}

.logo {
  height: 40px;
  width: 40px;
  float: left;
  margin-top: 0.2rem;
}

.links-container {
  margin-right: 4rem;
}

.singleLink {
  float: right;
  display: block;
  margin-right: 2rem;
  color: #f2f2f2;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 1.5rem;
}

.btn {
  font-family: "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 0.35em 1.2em;
  border: 0.1em solid var(--primaryColor);
  margin: 0 0.3em 0.3em;
  box-sizing: border-box;
  letter-spacing: 0.1rem;
  text-decoration: none;
  border-radius: 0.15em;
  color: var(--primaryColor);
}

.btn:hover {
  color: #ffffff;
  background-color: var(--primaryColor);
  transition: var(--myTransition);
}

.error-container {
  margin-top: 1rem;
  display: grid;
  place-items: center;
}

.error-image {
  height: 25rem;
  width: 25rem;
}

.error-btn {
  margin-top: 1rem;
  box-shadow: 2px 2px black;
}

.search {
  margin-top: 2rem;
  margin-left: 5rem;
  margin-right: 8rem;
  border-style: solid;
  border-width: 1px;
}

.searchForm {
  margin: 1rem;
  display: grid;
  place-items: center;
  border-radius: 0.25rem;
}

/* .formInput {
  display: flex;
} */

.formInput label {
  font-weight: bold;
  font-size: 2rem;
}

.formInput input {
  border: none;
  border-color: transparent;
  border-radius: 0.5rem;
  background: #ffdcc7;
  padding: 0.5rem;
  font-size: 2rem;
}
